.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.edit-section {
    display: grid;
    grid-template-columns: 25vw 1fr;
}

.error{
    color: red;
}

pre {
    display: flex;
    align-self: center;
    min-width: 50vw;
    min-width: 75vw;
    padding: 50px;
    background: gray;
}

textarea {
    height: 240px;
    min-width: 50vw;
}


